.App {
    text-align: center;
}

input[type=text] {
    margin-left: 3px;
    margin-right: 5px;
    padding: 5px;
    vertical-align: middle;
}

.App-header {
    background-color: #f99e1a;
    color: #000;
    font-size: 150%;
    height: 150px;
    padding: 20px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.create-note {
    padding: 10px;
}

.create-note_button {
    padding: 10px;
    vertical-align: top;
}

.create-note_message {
    height: 150px;
    margin-right: 5px;
    padding: 10px;
    text-align: justify;
    vertical-align: top;
    widows: 150px;
}

.create-note_message:focus {
    outline: none;
}

.search-note_text {
    padding: 10px;
    margin-left: 10px;
}