@media (max-width: 799px) {
    .App-header {
        /* height: 194px; */
    }
}

@media (min-width: 800px) {
    .App-header {
        /* height: 150px; */
    }
}

.App {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #424949;
    background-color: #ECF0F1;
    display: flex;
    flex-direction: column;
    position: relative;
}

input[type=text] {
    margin-left: 3px;
    margin-right: 5px;
    padding: 10px;
    vertical-align: baseline;
}

.App-header {
    background-color: #fafafa;
    color: #000;
    font-size: 150%;
    padding-bottom: 15px;
}

.App-title {
    padding: 0;
    margin-bottom: 15px;
    font-weight: 500;
}

.App-intro {
    font-size: large;
}

.create-note {
    padding: 10px;
}

.create-note_button {
    padding: 10px;
    vertical-align: top;
}

.create-note_message {
    height: 150px;
    margin-right: 5px;
    padding: 10px;
    text-align: justify;
    vertical-align: top;
    widows: 150px;
}

.create-note_message:focus {
    outline: none;
}

.search-note_text {
    padding: 10px;
    margin-left: 10px;
}

a {
    text-decoration: none !important;
  }
.dot-label {
    color: #383838;
}
.resize-sensor {
    opacity: 0;
}